<style>
     .gridStyle {
            border: 1px solid rgb(212,212,212);
            width: 100%; 
            height: 700px;
        }
</style>
<div ng-controller="CustomerOrdersCtrl">
    <br />
    <br />
    <!--<div>
        <img src="../../resources/table_icons/account_balances.png" /><strong>Customers</strong>
    </div>-->
    <div class="row">
        <div class="col-sm-8">
            <img src="../../resources/EmpPics/Amy_Jones50.jpg">
            <strong>Customers</strong>  
        </div>
        <div class="col-sm-4">
            <div class="input-group" id="quick-search">                
                <input tabindex="1" type="text" ng-model="filterOptions1.filterText" value="" class="form-control" placeholder="Quick Search" />
                <span class="input-group-btn">
                    <button tabindex="2" name="Search_x" value="1" id="Search" type="submit" class="btn btn-default" title="Quick Search"><i class="glyphicon glyphicon-search"></i></button>
                    <button tabindex="3" name="NoFilter_x" value="1" id="NoFilter_x" type="submit" class="btn btn-default" title="Show All"><i class="glyphicon glyphicon-remove-circle"></i></button>
                </span>
            </div>
        </div>
    </div>

    <hr />
   
    <!--<table class="table table-hover table-striped table-condensed table-bordered ordersTable" ng-controller="CustomerOrdersCtrl">
        <thead>
            <tr>
                <th data-ng-click="setOrder('CompanyName')">Company Name</th>
                <th data-ng-click="setOrder('ContactName')">Customer Name</th>
                <th data-ng-click="setOrder('City')">City</th>
                <th data-ng-click="setOrder('Country')">Country</th>
                <th data-ng-click="setOrder('Phone')">Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ord in customers | orderBy:orderby:reverse">
                <td>{{ord.CompanyName}}</td>
                <td>{{ord.ContactName}}</td>
                <td>{{ord.City}}</td>
                <td>{{ord.Country}}</td>
                <td>{{ord.Phone}}</td>
            </tr>
        </tbody>
    </table>-->

    <div class="gridStyle" ng-grid="gridOptions">
       
    </div>


