<div>
<div class="row" id="table_links" ng-controller="HomeCtrl">
        <div id="customers-tile" class="col-xs-12 col-sm-12 col-md-8 col-lg-6" >
            <div class="panel panel-info">
                <div class="panel-body">
                    <a href="#/customers" class="btn btn-block btn-lg btn-info" title="These are the customers details." style="height: 50px;">
                        <img src="resources/EmpPics/Amy_Jones50.jpg"><strong>Customers</strong>

                    </a>
                    <div class="panel-body-description" style="height: 130px;">
                        <img src="resources/EmpPics/Amy_Jones100.jpg"><strong>Customers:</strong>
                        These are all customers.
                    </div>
                </div>
            </div>
           
        </div>


        <div id="employees-tile" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-info">
                <div class="panel-body">
                    <a class="btn btn-block btn-lg btn-info" title="These are employees."
                        href="#/employees" style="height: 50px;">
                        <img src="resources/EmpPics/Eugene_Lee50.jpg"><strong>Employees</strong></a>
                    <div class="panel-body-description" style="height: 130px;">
                        <img src="resources/EmpPics/Eugene_Lee100.jpg"><strong>Employees:</strong>
                        These are employees.
                    </div>
                </div>
            </div>
        </div>
        <div id="orders-tile" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-info" ng-controller="OrdersCtrl">
                <div class="panel-body">
                    <a class="btn btn-block btn-lg btn-info" title="Orders " 
                        href="#/orders" style="height: 50px;">
                        <img src="resources/EmpPics/Gary_Donovan50.jpg"><strong>Orders</strong></a>
                    <div class="panel-body-description" style="height: 130px;">
                        <img src="resources/EmpPics/Gary_Donovan100.jpg"><strong>Orders:</strong>
                        These are Orders.
                    </div>
                </div>
            </div>
        </div>


        <div id="products-tile" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-info" ng-controller="ProductCtrl">
                <div class="panel-body">
                    <a class="btn btn-block btn-lg btn-info" title="product "  href="#/products" style="height: 50px;">
                        <img src="resources/EmpPics/James_King50.jpg"><strong>Products</strong>
                    </a>
                    <div class="panel-body-description" style="height: 130px;">
                        <img src="resources/EmpPics/James_King100.jpg"><strong>Products:</strong>
                        These are Products.
                    </div>
                </div>
            </div>
        </div>


        <div id="categories-tile" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-info">
                <div class="panel-body">
                    <a class="btn btn-block btn-lg btn-info" href="#/zips" title="Product categories">
                        <img src="resources/EmpPics/John_Williams50.jpg"><strong>Zips</strong>
                    </a>
                    <div class="panel-body-description" style="height: 130px;">
                        <img src="resources/EmpPics/John_Williams100.jpg"><strong>Zips:</strong>
                        Zips.
                    </div>
                </div>
            </div>
        </div>


        <div id="suppliers-tile" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-info">
                <div class="panel-body">
                    <a class="btn btn-block btn-lg btn-info" title="supplier."
                       href="#/suppliers" style="height: 50px;">
                        <img src="resources/EmpPics/Julie_Taylor50.jpg"><strong>Suppliers</strong>
                    </a>
                    <div class="panel-body-description" style="height: 130px;">
                        <img src="resources/EmpPics/Julie_Taylor100.jpg"><strong>Suppliers:</strong>
                        These are Product Suppliers.
                    </div>
                </div>
            </div>
        </div>


        <div id="shippers-tile" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-info">
                <div class="panel-body">
                    <a class="btn btn-block btn-lg btn-info" title="shipper."
                       href="#/shippers" style="height: 50px;">
                        <img src="resources/EmpPics/Kathleen_Byrne50.jpg"><strong>Shippers</strong>
                    </a>
                    <div class="panel-body-description" style="height: 130px;">
                        <img src="resources/EmpPics/Kathleen_Byrne100.jpg"><strong>Suppliers:</strong>
                        These are Product Suppliers.
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div> 